<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <!--font-->
    <link rel="stylesheet" type="text/css" href="web.css">
    <!--เชื่อมไฟล์ css-->

    <title>ลืมรหัสผ่าน</title>

    <script>
        function nextLogin() {
            // location.href = "login.html";
            // checkUser();
            checkPassword();
            document.getElementById("changePasseord").submit()
        }
        function backLogin() {
            axios.get("http://localhost:3001/login").then((res) => {
                arrayData = res.data;
            });
            // if (checkUser()) {

            //     // location.href = "login.html";
            // }

        }
    </script>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="UpperTitle">
                <img class="logo" src="logo Chokthawee.png">
                <center>ลืมรหัสผ่าน</center>
            </div>

            <form id="changePasseord" method="POST" action="/manageUser/update/">
                <div class="row">
                    <div class="columnPass">
                        <p class="rigth">
                            ชื่อผู้ใช้ : <input class="" id="user" name="user" type="text" maxlength="15" required><br><br>
                            รหัสผ่านใหม่ : <input class="" id="password" name="password" maxlength="15" type="password"
                                required><br><br>
                            ยืนยันรหัสผ่านใหม่ : <input class="" id="confirmNewPassword" name="confirmNewPassword" maxlength="15" type="password"
                                required>
                        </p>
                    </div>
                </div>

                <p class="login2">
                    <button class="btnAll" type="button" onclick="nextLogin()"><u>ยืนยัน</u></button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <!-- <button class="btnAll" type="reset">ยกเลิก</button> -->
                    <button type="button" class="btnAll"><a class="aa"
                        href="/login">ยกเลิก</a></button>
                </p>
            </form>
        </div>
    </section>

</body>

</html>

<script>
    function checkUser() {
        var userName = document.getElementById("userName");
        let SpacialCharacter = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
        if (userName.value.length == 0) {
            alert("Please enter your username.");
            userName.focus();
            resetTextField();
            return false;
        } else if (!(/^\S{3,}$/.test(userName.value))) {
            alert('Name cannot contain whitespace');
            userName.focus();
            resetTextField();
            return false;
        } else if (SpacialCharacter.test(userName.value)) {
            alert('userName cannot SpacialCharacter');
            userName.focus();
            resetTextField();
            return false;
        }
        else if (!isNaN(userName.value)) {
            alert('userName cannot number only');
            userName.focus();
            resetTextField();
            return false;
        }
        if (checkPassword()) {
            return true;
        }
    }

    function checkPassword() {
        var newPassword = document.getElementById('password');
        var confirmNewPassword = document.getElementById('confirmNewPassword');

        if (newPassword.value.length == 0) {
            alert("Please enter your new password.");
            newPassword.focus();
            resetTextFieldPass();
            return false;
        } else if (!isNaN(newPassword.value)) {
            alert('new password cannot number only');
            newPassword.focus();
            resetTextFieldPass();
            return false;
        } else if (newPassword.value.length <= 8) {
            alert("Please enter your new password more than 4 digit.");
            newPassword.focus();
            resetTextFieldPass();
            return false;
        } else if (newPassword.value != confirmNewPassword.value) {
            alert('Passwords do not match');
            resetTextFieldPass();
            newPassword.focus();
            return false;
        }

        return true;
    }


    function resetTextField() {
        var newPassword = document.getElementById('newPassword');
        var confirmNewPassword = document.getElementById('confirmNewPassword');
        var userName = document.getElementById("userName");

        userName.value = "";
        newPassword.value = "";
        confirmNewPassword.value = "";
    }

    function resetTextFieldPass() {
        var newPassword = document.getElementById('password');
        var confirmNewPassword = document.getElementById('confirmNewPassword');
        var userName = document.getElementById("userName");

        newPassword.value = "";
        confirmNewPassword.value = "";
    }
</script>