<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    
    <link rel="stylesheet" type="text/css" href="web.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <title>แสดงรายได้จากการขาย</title>

</head>

<body>
    <section class="section">
        <div class="container">
            <div class="UpperTitle">
                <img class="logo" src="logo Chokthawee.png">
                <center>เอกสารกำไร/ขาดทุน</center>
            </div>


            <br>

            <div class="row">
                <div class="column">
                    <a href="/showSaleIncome" class="menubtn" style="float: right">แสดงรายได้จากการขาย</a>

                </div>
                <div class="column">
                    <a href="/" class="menubtn" style="float: left" >แสดงรายได้จากการต่อทะเบียน</a>

                </div>
            </div>

            <div class=row>
                <div class=column>

                </div>
            </div>

            <div class="row">
                <div class="column">
                    <a href="/" class="menubtn" style="float: right" >แสดงรายได้จากการซ่อม</a>
                </div>
                <div class="column">
                    <a href="/" class="menubtn" style="float: left" ">แสดงรายจ่ายจากการซื้อรถ</a>
                </div>
            </div>

            <div class="row">
                <div class="column">

                </div>
            </div>


            <div class="row">
                <div class="column" style="text-align: center">
                    <a class="btnAll" href="/">กลับ</a>
                </div>

            </div>
        </div>

</body>

</html>


